<div class=" bg-[#FCE8BA] border-2 border-black rounded-md m-2 py-2 px-4 flex-col">
    <div class="flex flex-col justify-start mb-2">
        <div class="flex justify-between">
            <p class="text-xl font-bold self-end">Confirm Calculation</p>
            <a class="justify-self-end self-top my-1 mx-1 cursor-pointer"
               (click)="toClose()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 hover:stroke-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </a>
        </div>
        <div class="flex items-start space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-8 h-8 text-blue-500">
                <circle cx="12" cy="12" r="10" fill="currentColor" />
                <text x="12" y="16" text-anchor="middle" fill="white" font-size="15" font-weight="bold">?</text>
            </svg>
            <div class="flex flex-col justify-start">
                <p>Data for the current year will be lost. Are you sure you want to perform the calculations?</p>
                <div class="flex justify-end space-x-2 mt-2">
                    <button
                        class="bg-green-400 rounded-lg py-2 px-4 transition-all duration-300 ease-in-out hover:bg-green-500 hover:scale-105"
                        (click)="onConfirm()">
                        Confirm
                    </button>
                    <button
                        class="bg-red-400 rounded-lg py-2 px-4 transition-all duration-300 ease-in-out hover:bg-red-500 hover:scale-105"
                        (click)="toClose()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
