<div class="m-2">
    <table>
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Bonuses for sales</th>
            <th>Bonuses for social performance</th>
            <th>Total bonuses</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salesmanBonuse of salesmanBonuses">
            <td>{{ salesmanBonuse.firstname }}</td>
            <td>{{ salesmanBonuse.lastname }}</td>
            <td>{{ salesmanBonuse.bonusesForSales }}</td>
            <td>{{ salesmanBonuse.bonusesForSocialPerformanceRecord}}</td>
            <td><div class="flex-row"></div></td>
        </tr>
        </tbody>
    </table>
