<div class="bg-[#FCE8BA] font-sans text-gray-800 border-2 border-black rounded-lg">
  <div class="policy-container content-center border">
    <div class="bg-[#242424] rounded-t-lg">
      <div class="grid grid-cols-5 gap-4 text-center text-yellow-50 font-bold text-lg mb-6 px-2 mx-2">
        <span class="heading">Year</span>
        <span class="heading">Bonuses for sales</span>
        <span class="heading">Bonueses for social performance</span>
        <span class="heading">Total bonuses</span>
        <span class="heading">Action</span>
      </div>
    </div>


    <div *ngFor="let bonuse of bonuses | paginate: pagingConfig"
      class="grid grid-cols-5 gap-4 items-center py-2 px-2 rounded-lg shadow-md mb-4 mx-2 mx-2hover:shadow-lg transition-shadow border-2 border-black text-base bg-[#D9D9D9]">

      <span class="flex-1 text-center">{{ bonuse.year }}</span>

      <span class="flex-1 text-center">{{bonuse.year === currentYear ? bonuse.bonusesForSales : '-' }}</span>

      <span class="flex-1 text-center">{{ bonuse.year === currentYear ? bonuse.bonusesForSocial : '-' }}</span>

      <span class="flex-1 text-center">{{ bonuse.totalBonuses }}</span>

      <span class="flex-1 text-center " *ngIf="bonuse.year === currentYear">
        <button
          class="bg-[#095964] text-white rounded-lg p-2 w-24 transition-all duration-300 ease-in-out hover:bg-green-500 hover:scale-105 mr-1"
          (click)="showDetails()">
          Details</button>
        <button
          class="bg-[#095964] text-white rounded-lg p-2 w-24 transition-all duration-300 ease-in-out hover:bg-green-500 hover:scale-105"
          (click)="askAboutBonuses()">
          Ask</button>
      </span>
    </div>
    <div class="flex justify-center mt-4">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>