<div class="bg-[#FCE8BA] font-sans text-gray-800 border-double border-2 border-black rounded-lg">
    <div class="policy-container content-center border">
        <div class="bg-black rounded-t-lg">
            <div
                [ngClass]="{'grid-cols-10': userRole === 0,
                            'grid-cols-11': userRole === 1}"
                class="grid gap-2 items-center text-center text-yellow-50 font-bold text-lg mb-4 px-2 mx-2"
                [style.gridTemplateColumns]="userRole === 1 ? '80px repeat(10, 1fr)' : (userRole === 0 ? '90px repeat(9, 1fr)' : 'repeat(9, 1fr)')">
                <span *ngIf="userRole !== 2" class="heading">
                    Select All
                    <br>
                    <input type="checkbox"
                       [checked]="isAllSelected"
                       (change)="onGeneralCheckboxChange($event.target.checked)"
                       class="h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"/>
                </span>
                <span class="heading">Firstname</span>
                <span class="heading">Lastname</span>
                <span class="heading">Bonuses for sales</span>
                <span class="heading">Bonuses for social performance</span>
                <span class="heading">Total bonuses</span>
                <span class="heading">Salesman confirmation</span>
                <span *ngIf="userRole === 1" class="heading">CEO confirmation</span>
                <span *ngIf="userRole === 0 || userRole === 1" class="heading">Remark confirmation</span>
                <span  class="heading">Sent to OrangeHRM</span>
                <span class="heading">Action</span>
            </div>
        </div>

        <div *ngFor="let bonus of bonuses | paginate: pagingConfig">
            <div [ngClass]="{'bg-green-600 text-white': bonus.isConfirmedByCEO && userRole === 0 || bonus.isConfirmedByHR && userRole === 1,
             'bg-gray-300 text-black': !bonus.isConfirmedByCEO && userRole === 0 || !bonus.isConfirmedByHR && userRole === 1,
             'rounded-br-none': hasRejectionForBonus(bonus._id),
             'rounded-br-lg': !hasRejectionForBonus(bonus._id),
             'grid-cols-10': userRole === 0,
             'grid-cols-11': userRole === 1}"
                 class="policy grid gap-2 items-center py-4 px-2 rounded-lg rounded-br-none shadow-md mt-4 mx-2 hover:shadow-lg transition-shadow border-2 border-black"
                 [style.gridTemplateColumns]="userRole === 1 ? '80px repeat(10, 1fr)' : (userRole === 0 ? '90px repeat(9, 1fr)' : 'repeat(9, 1fr)')">

                <span class="flex-1 text-center">
                    <input type="checkbox"
                           [disabled]="userRole === 1 && bonus.isConfirmedByCEO"
                           [checked]="getIsConfirmedActual(bonus._id)"
                           (change)="onCheckboxChange(bonus._id, $event.target.checked)"
                           class="h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"/>
                </span>

                <span class="flex-1 text-center">{{ bonus.firstname }}</span>

                <span class="flex-1 text-center">{{ bonus.lastname }}</span>

                <span class="flex-1 text-center">{{ bonus.getOrderBonusesTotal() }}</span>

                <span class="flex-1 text-center">{{ bonus.getSocialBonusesTotal() }}</span>

                <span class="flex-1 text-center">{{ bonus.getTotalBonuses() }}</span>

                <span class="flex-1 text-center">
                    <svg *ngIf="bonus.isConfirmedBySalesman" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         [attr.fill]="bonus.isConfirmedByCEO && userRole === 0 || bonus.isConfirmedByHR && userRole === 1 ? 'white' : 'green'"
                         viewBox="0 0 24 24">
                        <path
                            d="M20.285 6.709c.391.39.391 1.023 0 1.414l-11 11c-.391.391-1.023.391-1.414 0l-5-5c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.293 4.293 10.293-10.293c.391-.391 1.023-.391 1.414 0z"/>
                    </svg>
                    <svg *ngIf="!bonus.isConfirmedBySalesman" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="red" viewBox="0 0 24 24">
                        <path
                            d="M12 10.586l4.95-4.95c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-4.95 4.95 4.95 4.95c.391.391.391 1.023 0 1.414s-1.023.391-1.414 0l-4.95-4.95-4.95 4.95c-.391.391-1.023.391-1.414 0s-.391-1.023 0-1.414l4.95-4.95-4.95-4.95c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.95 4.95z"/>
                    </svg>
                </span>

                <span *ngIf="userRole === 1" class="flex-1 text-center">
                    <svg *ngIf="bonus.isConfirmedByCEO" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         [attr.fill]="bonus.isConfirmedByCEO && userRole === 0 || bonus.isConfirmedByHR && userRole === 1 ? 'white' : 'green'"
                         viewBox="0 0 24 24">
                        <path
                            d="M20.285 6.709c.391.39.391 1.023 0 1.414l-11 11c-.391.391-1.023.391-1.414 0l-5-5c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.293 4.293 10.293-10.293c.391-.391 1.023-.391 1.414 0z"/>
                    </svg>
                    <svg *ngIf="!bonus.isConfirmedByCEO" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="red" viewBox="0 0 24 24">
                        <path
                            d="M12 10.586l4.95-4.95c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-4.95 4.95 4.95 4.95c.391.391.391 1.023 0 1.414s-1.023.391-1.414 0l-4.95-4.95-4.95 4.95c-.391.391-1.023.391-1.414 0s-.391-1.023 0-1.414l4.95-4.95-4.95-4.95c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.95 4.95z"/>
                    </svg>
                </span>

                <span class="flex-1 text-center">
                    <svg *ngIf="bonus.isRemarkConfirmedByHR" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         [attr.fill]="bonus.isConfirmedByCEO && userRole === 0 || bonus.isConfirmedByHR && userRole === 1 ? 'white' : 'green'"
                         viewBox="0 0 24 24">
                        <path
                            d="M20.285 6.709c.391.39.391 1.023 0 1.414l-11 11c-.391.391-1.023.391-1.414 0l-5-5c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.293 4.293 10.293-10.293c.391-.391 1.023-.391 1.414 0z"/>
                    </svg>
                    <svg *ngIf="!bonus.isRemarkConfirmedByHR" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="red" viewBox="0 0 24 24">
                        <path
                            d="M12 10.586l4.95-4.95c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-4.95 4.95 4.95 4.95c.391.391.391 1.023 0 1.414s-1.023.391-1.414 0l-4.95-4.95-4.95 4.95c-.391.391-1.023.391-1.414 0s-.391-1.023 0-1.414l4.95-4.95-4.95-4.95c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.95 4.95z"/>
                    </svg>
                </span>

                <span class="flex-1 text-center">
                    <svg *ngIf="bonus.isSent" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         [attr.fill]="bonus.isSent && userRole === 0 || bonus.isConfirmedByHR && userRole === 1 ? 'white' : 'green'"
                         viewBox="0 0 24 24">
                        <path
                            d="M20.285 6.709c.391.39.391 1.023 0 1.414l-11 11c-.391.391-1.023.391-1.414 0l-5-5c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.293 4.293 10.293-10.293c.391-.391 1.023-.391 1.414 0z"/>
                    </svg>
                    <svg *ngIf="!bonus.isSent" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="red" viewBox="0 0 24 24">
                        <path
                            d="M12 10.586l4.95-4.95c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-4.95 4.95 4.95 4.95c.391.391.391 1.023 0 1.414s-1.023.391-1.414 0l-4.95-4.95-4.95 4.95c-.391.391-1.023.391-1.414 0s-.391-1.023 0-1.414l4.95-4.95-4.95-4.95c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0l4.95 4.95z"/>
                    </svg>
                </span>


                <span class="flex-1 flex justify-center gap-2 items-center">
                    <button *ngIf="userRole === 1" (click)="toViewSalesmanBonus(bonus)"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-3 rounded focus:outline-none focus:ring-2 focus:ring-blue-300">
                        View
                     </button>
                    <button *ngIf="userRole === 0" (click)="toEditSalesmanBonus(bonus)"
                            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-3 rounded focus:outline-none focus:ring-2 focus:ring-blue-300">
                        Edit
                    </button>
                </span>
            </div>
            <div *ngIf="hasRejectionForBonus(bonus._id)" class="flex justify-end">
                <div [ngClass]="{
                  'truncate overflow-hidden whitespace-nowrap': !isClicked,
                  'whitespace-normal overflow-visible': isClicked}"
                     (click)="isClicked = !isClicked"
                     class="policy bg-white cursor-pointer gap-2 items-center py-2 px-2 shadow-md mx-2 hover:shadow-lg transition-shadow border-l-2 border-r-2 border-b-2 border-black w-11/12 rounded-b-lg"
                     [@fadeToggle]="isClicked ? 'visible' : 'hidden'">
                    <i><strong>Salesman feedback: </strong>{{ rejectionMessage.message }}</i>
                </div>
            </div>
        </div>

        <div class="flex justify-center mt-4">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>
