<div class="bg-[#FCE8BA] font-sans text-gray-800 border-2 border-black rounded-lg">
    <div class="policy-container content-center border">
      <div class="bg-black rounded-t-lg">

      <div
      [ngClass]="{
        'grid-cols-5': userRole === 1,
        'grid-cols-4': userRole !== 1
      }"
      class="grid gap-4 text-center text-yellow-50 font-bold text-lg mb-6 px-2 mx-2">
        <span class="heading">Name</span>
        <span class="heading">Target Value</span>
        <span class="heading">Actual Value</span>
        <span class="heading">Year</span>
        <span *ngIf="userRole === 1" class="heading">Action</span>
      </div>
    </div>


      <div
        [ngClass]="{
        'grid-cols-5': userRole === 1,
        'grid-cols-4': userRole !== 1
      }"
        *ngFor="let socialPerformancesRecord of socialPerformancesRecords | paginate: pagingConfig"
        class="grid gap-2 items-center py-2 px-2 rounded-lg shadow-md mb-4 mx-2 mx-2hover:shadow-lg transition-shadow border-2 border-black text-base bg-[#D9D9D9]"
      >

          <span class="flex-1 text-center">{{socialPerformancesRecord.goal_description}}</span>

        <span *ngIf="userRole === 1; else only_read_content_target_value" class="flex-1 text-center">
          <select
          class="border-2 border-black bg-slate-100 mx-4 text-center w-1/2 py-1 rounded-md"
          [(ngModel)]="socialPerformancesRecord.target_value"
          (ngModelChange)="onTargetValueChange(socialPerformancesRecord, $event)"
        >
          <option *ngFor="let value of [1, 2, 3, 4, 5]" [value]="value">{{ value }}</option>
        </select>
      </span>
          <ng-template #only_read_content_target_value>
              <span class="flex-1 text-center">{{socialPerformancesRecord.target_value}}</span>
          </ng-template>

        <span *ngIf="userRole === 1; else only_read_content_actual_value" class="flex-1 text-center">
            <select
            class="border-2 border-black bg-slate-100 mx-4 text-center w-1/2 py-1 rounded-md"
            [(ngModel)]="socialPerformancesRecord.actual_value"
            (ngModelChange)="onActualValueChange(socialPerformancesRecord, $event)"
          >
            <option *ngFor="let value of [1, 2, 3, 4, 5]" [value]="value">{{ value }}</option>
          </select>
        </span>

          <ng-template #only_read_content_actual_value>
              <span class="flex-1 text-center">{{socialPerformancesRecord.actual_value}}</span>
          </ng-template>

          <span class="flex-1 text-center">{{ socialPerformancesRecord.year }}</span>

        <span *ngIf="userRole === 1" class="flex-1 text-center">
            <button
                [disabled]="isSaveDisabled(socialPerformancesRecord)"
                (click)="toUpdateSocialPerformanceRecord(socialPerformancesRecord)"
                class="mr-1 bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:ring-2 focus:ring-green-300">
            Save
            </button>
            <button (click)="toDeleteSocialPerformanceRecord(socialPerformancesRecord._id)"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:ring-2 focus:ring-red-300">
            Delete
            </button>
        </span>

      </div>
      <div class="flex justify-center mt-4">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>

