<div class=" bg-[#FCE8BA] border-2 border-black rounded-md m-2 py-2 px-4 flex-col">
    <div class="flex justify-between">
        <p class="text-xl font-bold self-end">Rejection Bonuses</p>
        <a
        class="justify-self-end self-top my-1 mx-1"
        (click)="toClose()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 hover:stroke-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </a>
    </div>
    <div class="flex flex-col justify-start mt-3 mb-2 px-1">
        <label class="text-base my-2 font-semibold">Reason:</label>
        <textarea class="w-full h-14 text-base border-2 border-black rounded-md" required #message></textarea>
        <button class="self-end justify-self-end  my-2  bg-green-400 rounded-lg py-2 px-4 w-auto transition-all duration-300 ease-in-out hover:bg-green-500 hover:scale-105"
        (click)="send(message.value)">
            Send
        </button>
    </div>
</div>
