<div class="container mx-auto p-4">

    <h1 class="text-3xl font-bold text-center mb-6">Dashboard</h1>

    <div class="border rounded-lg p-4 shadow-md mb-6">
        <p class="text-lg">Кількість того-то: <span class="font-semibold">454</span></p>
        <p class="text-lg">Кількість того-то: <span class="font-semibold">343</span></p>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold text-center mb-4">Pie Chart 1</h2>
            <app-pie-count-confirmation-statistics class="w-2/4"
                                                   [signatures]="numberOfSignaturesByCeo"
                                                   [chartLabels]="signatureByCeoPieLables"
                                                   [chartLabel]="signatureByPieLable">
            </app-pie-count-confirmation-statistics>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold text-center mb-4">Pie Chart 2</h2>
            <app-pie-count-confirmation-statistics class="w-2/4"
                                                   [signatures]="numberOfSignaturesByHr"
                                                   [chartLabels]="signatureByHrPieLables"
                                                   [chartLabel]="signatureByPieLable">
            </app-pie-count-confirmation-statistics>
        </div>
    </div>

    <div class="flex justify-center mt-4 grow">
        <app-bar-salesmen-rating [bonuses]="bonuses" [salesmenFullname]="salesmenFullname" class="w-3/5"
        ></app-bar-salesmen-rating>
    </div>

</div>
